<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    <span class="glyphicon glyphicon-star"></span> New images collection
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form name="imagesCollectionDialog">
    <div class="form-group">
      <label for="name">Name</label>
      <span style="color: #e32"> * </span>
      <input type="text" [(ngModel)]="imagesCollection.name" id="name" class="form-control" name="name" autofocus
             required>
      <small class="form-text text-muted">Enter the collection name.</small>
    </div>

    <div class="form-group">
      <label for="importMethodSelect">Import method</label>
      <span style="color: #e32"> * </span>
      <mat-radio-group id="importMethod"
        name="importMethodSelect"
        class="options-radio-group"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="imagesCollection.importMethod">

        <mat-radio-button 
        [value]="ImagesCollectionImportMethod.UPLOADED">
          Browser upload 
          <span placement="right" ngbTooltip="Upload images via web browser">
            <i class="fas fa-question-circle"></i>
          </span>
        </mat-radio-button>

        <mat-radio-button *ngIf="displayLocalImportOption" 
        [value]="ImagesCollectionImportMethod.BACKEND_IMPORT">
          Backend import 
          <!-- <i>(beta)</i>  -->
          <span placement="right" ngbTooltip="Import images from a folder local to the server">
            <i class="fas fa-question-circle"></i>
          </span>
        </mat-radio-button>

        <mat-radio-button *ngIf="displayCloudImportOption" 
        [value]="ImagesCollectionImportMethod.S3_IMPORT">
          AWS S3 Bucket 
          <!-- <i>(beta)</i>  -->
          <span placement="right" ngbTooltip="Import images from a AWS S3 bucket">
            <i class="fas fa-question-circle"></i>
          </span>
        </mat-radio-button>

        <mat-radio-button *ngIf="displayCloudImportOption" 
        [value]="ImagesCollectionImportMethod.GDRIVE_IMPORT">
          Google Drive 
          <!-- <i>(beta)</i>  -->
          <span placement="right" ngbTooltip="Import images from a Google Drive folder">
            <i class="fas fa-question-circle"></i>
          </span>
        </mat-radio-button>
        
      </mat-radio-group>

      <div *ngIf="imagesCollection.importMethod == ImagesCollectionImportMethod.BACKEND_IMPORT">
        <label class="input-label" for="name">Folder name</label>
        <span style="color: #e32"> * </span>
        <input type="text" class="form-control" 
                [(ngModel)]="imagesCollection.sourceBackendImport" 
                placeholder="Enter the name of the folder to import" 
                name="sourceBackendimport" >
        <!-- <small class="form-text text-muted">Sub text placeholder</small> -->
      </div>
      
      <div *ngIf="imagesCollection.importMethod == ImagesCollectionImportMethod.S3_IMPORT">
        <div class="form-group">
          <label class="input-label" for="s3-bucket-name">Bucket Name</label>
          <span style="color: #e32"> * </span>
          <input id="s3-bucket-name" type="text" class="form-control" 
                 [(ngModel)]="imagesCollection.s3BucketName"
                 placeholder="Enter the name of the bucket" 
                 name="s3-bucket">
          <!-- <small class="form-text text-muted">Enter the bucket name</small> -->

          <label class="input-label" for="s3-folder-name">Folder Name</label>
          <span style="color: #e32"> * </span>
          <span placement="right" ngbTooltip="Use the common S3 key prefix as a folder path">
            <i class="fas fa-question-circle"></i>
          </span>
          <input id="s3-folder-name" type="text" class="form-control" 
                 [(ngModel)]="imagesCollection.s3FolderName"
                 placeholder="Enter the name of the folder" 
                 name="s3-folder">
          <small class="form-text text-muted">Standard folder names must end with a '/'.</small>
        
          <label class="input-label" for="s3-access-key-id">Access Key ID</label>
          <span style="color: #e32"> * </span>
          <input id="s3-access-key-id" type="text" class="form-control" 
                 [(ngModel)]="imagesCollection.s3AccessKeyID"
                 placeholder="Enter your access key ID"
                 name="s3-access-key-id">
          <!-- <small class="form-text text-muted">Enter your access key ID.</small> -->
      
          <label class="input-label" for="s3-secret-access-key">Secret Access Key</label>
          <span style="color: #e32"> * </span>
          <input id="s3-secret-access-key" type="password" class="form-control"
                 [(ngModel)]="imagesCollection.s3SecretAccessKey"
                 placeholder="Enter your secret access key"
                 name="s3-secret-access-key">
          <!-- <small class="form-text text-muted">Enter your secret access key.</small> -->
          <mat-checkbox 
                [(ngModel)]="useS3FileExtensionFilter" 
                name="false">Filter files by extensions
          </mat-checkbox>
          <span class="text-danger" *ngIf="!useS3FileExtensionFilter && imagesCollection.s3FileExtensions">Warning: extension list is not empty, but this option is not checked</span>

          <div *ngIf="useS3FileExtensionFilter && imagesCollection.importMethod == ImagesCollectionImportMethod.S3_IMPORT">
            <input id="s3-file-extensions" type="text" class="form-control"
                    [(ngModel)]="imagesCollection.s3FileExtensions"   
                    name="s3-file-extensions"
                    placeholder="Ex: '.jpeg', '.png'"
                    autofocus
                    required>
            <small class="form-text text-muted">Extensions must be in single quotes, with a coma delimiter.</small>
          </div>
        </div>
      </div>

      <div *ngIf="imagesCollection.importMethod == ImagesCollectionImportMethod.GDRIVE_IMPORT">
        <div class="form-group">
          <!-- <label class="input-label" for="gdrive-authorization-code">Third-party App Authorization Code</label>
          <span style="color: #e32"> * </span>
          <input id="gdrive-authorization-code" type="text" class="form-control" 
                [(ngModel)]="imagesCollection.gdriveCode"
                placeholder="Enter your access code"
                name="gdrive-authorization-code"> -->
          <!-- <small class="form-text text-muted">Enter the authorization code.</small> -->
          <label for="GDriveFolderAccessSelect">Folder Access type</label>
          <span style="color: #e32"> * </span>
          <mat-radio-group id="GDriveFolderAccessSelect" name="GDriveFolderAccessSelect" class="options-radio-group"
                [ngModelOptions]="{standalone: true}" 
                [(ngModel)]="imagesCollection.gdriveFolderAccessType">
              <mat-radio-button [value]="GDriveFolderAccessType.PATH">Folder Path
                <span placement="right" ngbTooltip="Use a directory path to specify the folder.">
                  <i class="fas fa-question-circle"></i>
                </span>
              </mat-radio-button>
              <mat-radio-button [value]="GDriveFolderAccessType.IDURL">Folder Id/Url
                <span placement="right" ngbTooltip="Use the folder's Id or the folder browser url">
                  <i class="fas fa-question-circle"></i>
                </span>
              </mat-radio-button>
          </mat-radio-group>

          <div *ngIf="imagesCollection.gdriveFolderAccessType === GDriveFolderAccessType.PATH">
            <input id="gdrive-folder-path-value" type="text" class="form-control" 
            [(ngModel)]="imagesCollection.gdriveFolderAccessValue"
            placeholder="Enter the path of the folder to import (starting with '/')"
            name="gdrive-folder-path-value">
            <small class="form-text text-muted">Use the '/' delimiter between folder names. (Ex: '/FolderA/FolderB')</small>
          </div>
          <div *ngIf="imagesCollection.gdriveFolderAccessType === GDriveFolderAccessType.IDURL">
            <input id="gdrive-folder-idurl-value" type="text" class="form-control" 
            [(ngModel)]="imagesCollection.gdriveFolderAccessValue"
            placeholder="Enter the ID of the folder to import or the full folder browser url."
            name="gdrive-folder-idurl-value">
            <small class="form-text text-muted">Provide either the folder Id or the folder url</small>
          </div>
         
          <mat-checkbox 
                [(ngModel)]="useGDriveFileExtensionFilter" 
                name="false">Filter files by extensions
          </mat-checkbox>
          <span class="text-danger" *ngIf="!useGDriveFileExtensionFilter && imagesCollection.gdriveFileExtensions">Warning: extension list is not empty, but this option is not checked</span>

          <div *ngIf="useGDriveFileExtensionFilter && imagesCollection.importMethod == ImagesCollectionImportMethod.GDRIVE_IMPORT">
            <input id="gdrive-file-extensions" type="text" class="form-control"
                    [(ngModel)]="imagesCollection.gdriveFileExtensions"   
                    name="gdrive-file-extensions"
                    placeholder="Ex: '.jpeg', '.png'"
                    autofocus
                    required>
            <small class="form-text text-muted">Extensions must be in single quotes, with a coma delimiter.</small>
          </div>
          <div>
          <mat-checkbox 
                [(ngModel)]="imagesCollection.gdriveRecursive" 
                name="false">Recursive download (nested folders)
          </mat-checkbox>
        </div>
        </div>

        <p>Please authenticate and authorize WIPP if necessary:</p>
        <button type="button" name="google-sign-in" class="btn btn-primary" (click)="gGriveAuth()">
          <i class="fas fa-sign-in-alt" style="margin-right: 10px">
            <p style="margin-left: 10px; display: inline; font-family: 'Roboto', sans-serif ; font-weight: normal">Google Sign-in</p>
          </i>
        </button>
      </div>
      
    </div>

    <mat-checkbox *ngIf="imagesCollection.importMethod==ImagesCollectionImportMethod.UPLOADED"
                  [(ngModel)]="usePattern" name="false">Filter images upon upload using a filename pattern
    </mat-checkbox>
    <span class="text-danger" *ngIf="!usePattern && imagesCollection.pattern">Warning: pattern is not empty, but this option is not checked</span>

    <div class="row" *ngIf="usePattern && imagesCollection.importMethod == ImagesCollectionImportMethod.UPLOADED">
      <div class="col-sm-8">
        <input type="text" [(ngModel)]="imagesCollection.pattern" id="pattern" class="form-control" name="pattern"
               autofocus
               required>
        <small class="form-text text-muted">Enter the filename pattern.</small>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-outline-secondary" placement="right-top"
                [ngbPopover]="popContent" popoverTitle="Regex cheatsheet">
          Regex cheatsheet
        </button>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="cancel()">
    <i class="fas fa-times-circle" style="margin-right: 10px">
      <p style="margin-left: 10px; display: inline; font-family: 'Roboto', sans-serif ; font-weight: normal">Cancel</p>
    </i>
  </button>
  <button type="button" class="btn btn-success" (click)="save()"
          [disabled]="!imagesCollection.name">
    <i class="fas fa-save" style="margin-right: 10px">
      <p style="margin-left: 10px; display: inline; font-family: 'Roboto', sans-serif ; font-weight: normal">Save</p>
    </i>
  </button>
</div>

<ng-template #popContent>
  <div>
    <table class="table">
      <tr>
        <th colspan="2">Character classes</th>
      </tr>
      <tr>
        <td>.</td>
        <td>any character except newline</td>
      </tr>
      <tr>
        <td>\w \d \s</td>
        <td>word, digit, whitespace</td>
      </tr>
      <tr>
        <td>\W \D \S</td>
        <td>not word, digit, whitespace</td>
      </tr>
      <tr>
        <td>[abc]</td>
        <td>any of a, b, or c</td>
      </tr>
      <tr>
        <td>[^abc]</td>
        <td>not a, b, or c</td>
      </tr>
      <tr>
        <td>[a-g]</td>
        <td>character between a & g</td>
      </tr>

      <tr>
        <th colspan="2">Quantifiers and Alternation</th>
      </tr>
      <tr>
        <td>a* a+ a?</td>
        <td>0 or more 'a', 1 or more 'a', 0 or 1 'a'</td>
      </tr>
      <tr>
        <td>a{{ '{' }}5{{ '}' }} a{{ '{' }}2,{{ '}' }}</td>
        <td>exactly five, two or more</td>
      </tr>
      <tr>
        <td>a{{ '{' }}1,3{{ '}' }}</td>
        <td>between one & three</td>
      </tr>
      <tr>
        <td>a+? a{{ '{' }}2,{{ '}' }}?</td>
        <td>match as few as possible</td>
      </tr>
      <tr>
        <td>ab|cd</td>
        <td>match ab or cd</td>
      </tr>

      <tr>
        <th colspan="2">Escaped characters</th>
      </tr>
      <tr>
        <td>\. \* \\</td>
        <td>escaped special characters</td>
      </tr>

      <tr>
        <th colspan="2">Anchors</th>
      </tr>
      <tr>
        <td>^abc$</td>
        <td>start / end of the string</td>
      </tr>
    </table>

    <a target="blank" href="http://en.wikipedia.org/wiki/Regular_expression">Wikipedia page about regular expressions</a>
  </div>
</ng-template>
